#project1 {
		border: solid black;
		grid-row: 2/3;
	}

	#project1info {
		border: solid black;
		grid-row: 1/2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#project2 {
		border: solid black;
		grid-row: 3/4;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#project2info {
		border: solid black;
		grid-row: 4/5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px;
	}

	#project3 {
		border: solid black;
		grid-row: 5/6;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#project3info {
		border: solid black;
		grid-row: 6/7;
		display: flex;
		justify-content: center;
		align-items: center;
	}